html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

input[type="date"]::before {
  content: attr(placeholder);
  color: #9ca3af;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}
